.sun {
    --c: #c5f6ff;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-color: var(--sun-color);
    position: absolute;
    /* top: 2rem; */
    right: 1rem;
    z-index: -2;
    animation: bounce 3s ease-in-out infinite;
}

.moon::before {
    content: "";
    width: 1rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    left: 0.8rem;
    top: 3rem;
    box-shadow: 2.2rem 0.8rem 0 4px var(--c), 1rem -1.6rem 0 6px var(--c), 3.3rem -1.4rem 0 3px var(--c);
    background-color: var(--c);
    color: var(--c);
    z-index: 1;
}

@keyframes bounce {
    0% {
        transform: translateY(-40);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-40);
    }
}