.css-b62m3t-container {
    /* padding-top: 1rem; */
    width: 100%;
    margin: 0 auto;
}

.css-b62m3t-container,
.css-14el2xx-placeholder,
.css-6j8wv5-Input {
    color: #333;
    font-weight: 500;
}